.app { 
    display: flex; 
    width: 100vw; 
    height: 100vh; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
}

.app__video {
    display: flex;
    align-items: center;
}

.app__canvas {
    position: absolute;
    top: 100px;
}